build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/
/.architectury-transformer/

.classpath
.project
.idea/
.idea*/
classes/
.metadata
.vscode
.settings
*.launch

/local.properties
common/local.properties
fabric/local.properties
forge/local.properties
customer.id
pubkey.path
x-deploy/